/* ---- SECTION: GENERAL ---- */
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  color: #000;
}

h1 {
  -webkit-margin-after: -0.40em; /* Chrome10+,Safari5.1+ */
  font-weight: 200;
  font-size: 42px;
}

img {
  display: block;
}

p {
  font-size: 16px;
  line-height: 24px;
}

ul {
  list-style: none;
}

.hide {display: none;}

/* ---- SECTION: HEADER ---- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  overflow: hidden;

  background-color: rgba(119, 204, 164, 0.98);
  color: #f6f6f6;

  -webkit-box-shadow: 0 2px 9px #888;
  -moz-box-shadow: 0 2px 9px #888;
  box-shadow: 0 2px 9px #888;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header-large {
  height: 200px;
}

.header-small {
  height: 95px;
}

.header-large h2 { display: none; }
.header-small h1 { display: none; }
.header-small p  { display: none; }

.header a { color: #f6f6f6; }
.header h2 { margin-top: 34px;}

.header-content {
  padding-left: 65px;
  padding-bottom: 20px;
  margin-top: -20px;
}
.header-content h1 {
  margin-bottom: -15px;
}

.header-blob p {
  margin-top: 13px;
  margin-left: -13px;
  font-weight: 300;
}

.header-nav {
  padding-top: 39px;
}
.header-nav a {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: small;
}
.header-nav a:first-child {
  padding-left: 0px;
}

.gravatar {
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 28%;
  width: 90%;
}

/* ---- SECTION: PROJECTS ---- */

.flexbox .flex-card-list {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.flexbox .flex-card-listitem {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.flexbox .flex-card {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.flexbox .flex-card-heading {
  font-weight: 700;
  padding-right: 5px;
}
.flexbox .flex-card-content {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex: 1 0 auto; /* Basis for IE10/11 */
  -webkit-flex: 1 0 auto;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.flexbox .flex-card-image a {
  border-radius: 3px;
  width: 295px; /* 4:3 ratio */
  height: 221px;
  display: table;
}
.flexbox .overlay{
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(119, 204, 164, 0);
  color: #fff;
  opacity: 0;
  transition: all .3s ease;
  display: table-cell;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.flexbox .overlay:hover {
  background-color: rgba(119, 204, 164, 0.75);
  opacity: 1;
}

.flexbox .flex-card-button {
  float: right;
}

.story {
  margin-top: 200px;
  min-height: 1000px;
}


/* ---- SECTION: FOOTER ---- */
.story-foot {
  /* background: rgba(69, 184, 172, 1.0); */
  height: 40px;
}

.foot-content {
  /* padding-top: 35px; */
  float: right;
}
.foot-content p {
  padding-right: 20px;
  color: #555;
  font-size: 14px;
}

/* ---- SECION: MEDIA QUERIES ---- */
@media screen and (max-width:29.9999em) {
  .grid {
    padding-left: 0px !important;
  }
  .story {
    margin-top: 70px;
  }
  .header-content {
    padding-left: 26px;
  }
  .header-nav {
    margin-top: -25px !important;
    padding-top: 0px;
  }
  .header-nav a {
    padding: 10px;
  }
  .flex-card-listitem {
    padding-bottom: 15px;
  }
}
@media all and (min-width:40em) {
  .flex-card-list li {
    width: 50%;
    padding: 10px;
  }
  .no-flexbox .flex-card-list li {
    float: left;
  }
}
@media all and (min-width:40em) and (max-width:60em) {
  .no-flexbox .flex-card-list li:nth-child(2n+1) {
    clear: both;
  }
}
@media all and (min-width:60em) {
  .flex-card-list {
    margin-left: 5px;
  }
  .flex-card-list li {
    width: 33.33%;
    padding: 10px;
  }
  .no-flexbox .flex-card-list li:nth-child(3n+1) {
    clear: both;
  }
}
