$primary: rgba(79, 212, 168, 0.98);
$primary-light: lighten($primary, 15%);
$primary-lighter: lighten($primary, 30%);
$primary-dark: darken($primary, 15%);
$primary-darker: darken($primary, 30%);

$gray: lighten(#000, 10%);
$gray-light: lighten($gray, 30%);
$gray-lighter: lighten($gray, 60%);
$gray-lightest: lighten($gray, 85%);
$white: #fff;


body {
  font-family: 'Lato', sans-serif;
  bottom: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $gray-lighter;

  &:hover {
    color: $gray-light;
  }
}

h1 {
  -webkit-margin-after: -0.40em; /* Chrome10+,Safari5.1+ */
  font-weight: 200;
  font-size: 42px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.button {
  border: 0 none;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px;
  text-align: center;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 55px;

  &:focus {
    outline: none;
  }
  &.blue {
    background-color: $primary;
    color: $gray-lightest;

    &:hover {
      background-color: $primary-dark;
      color: $white;
    }
  }
}

/* ---- SECTION: HEADER ---- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  overflow: hidden;

  background-color: $primary;
  color: $gray-lightest;

  box-shadow: 0 1px 5px transparentize($gray, 0.35);

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  a {
    color: $gray-lightest;
    &:hover {
      color: $white;
    }
  }
}

.header-large {
  height: 200px;

  h2 {
    display: none;
  }
}

.header-small {
  height: 105px;

  h1,p {
    display: none;
  }
}

.header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  margin: 0 auto;
  width: 74%;

  #hello {
    order: 1;
    flex: 0 1 100%;
    align-self: auto;
  }

  #gravatar {
    order: 2;
    flex: 0 1 80px;
    align-self: auto;

    img {
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-top: 22%;
      width: 90%;
    }
  }

  #bioname {
    order: 3;
    flex: 0 1 45%;
    align-self: auto;

    p {
      font-weight: 300;
    }

    h2 {
      text-transform: uppercase;
      margin: 1.8em 0;
    }
  }

  .header-nav {
    order: 4;
    flex: 0 1 auto;
    align-self: flex-start;
    margin-top: 50px;
    margin-left: auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline
      }
    }

    a {
      padding: 15px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: small;

      &:first-child {
        padding-left: 0px;
      }
    }
  }
}

/* ---- SECTION: PROJECTS ---- */
.story {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 200px;
  min-height: 1000px;

  .flex-card-list {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    -webkit-padding-start: 0;
    -webkit-margin-after: 0;

    li {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      padding: 5px;

      &:empty {
        width: 295px;
        height: 0;
      }
    }

    .flex-card {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: column;
      -webkit-flex-direction: column;
    }

    .flex-card-image a {
      border-radius: 3px;
      width: 295px; /* 4:3 ratio */
      height: 221px;
      display: table;

      .overlay:hover {
        background-color: transparentize($primary, 0.3);
        opacity: 1;
      }
    }
  }
}

.overlay{
  cursor: pointer;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  color: $gray-lightest;
  opacity: 0;
  transition: all .3s ease;
  display: table-cell;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* ---- SECTION: MODALS ---- */
.md-active ~ .muddle-overlay {
  opacity: 1;
  visibility: visible;
}

.muddle-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  background-color: transparentize($primary-lighter, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.muddle-modal {
  overflow-x: hidden;
  visibility: hidden;
  z-index: 2000;
  position: fixed;
  top:50%;
  left:50%;
  width: 60%;
  max-height: 70%;

  border-radius: 2px;
  border-bottom: 0 none;
  border-bottom: 1px solid transparentize($gray, .98);
  box-shadow: 0 1px 5px transparentize($gray, .95);

  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-anim .md-content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.md-active.md-anim .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.md-active {
  visibility: visible;
}

.md-content {
  height: 100%;
  width: 100.5%;
}

.md-header {
  width: 100%;
  display: table;
  border-bottom: 1px solid $gray-lighter;
  background-size: 1000px;
  height: 300px;

  .overlay {
    opacity: 1;
    background-color: transparentize($gray-light, .5);
    font-size: 45px;
    cursor: initial;
    border-radius: 2px;
    padding: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.md-body {
  padding: 20px;
  background-color: $gray-lightest;

  > * {
    width: 90%;
    margin: 0 auto;
  }

  .md-tags ul {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    li {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 12px;
      line-height: 20px;
      padding-right: 10px;
    }
  }

  .md-desc {
    overflow: hidden;
    p {
      margin: 0;
    }

    .button {
      margin-top: 20px;
    }
  }

  .md-link {
    float: right;
    padding-bottom: 5px;
  }
}

.md-close {
  position: absolute;
  color: $gray-light;
  top: 3px;
  right: 20px;
  cursor: pointer;
  font-style: normal;
  font-weight: 200;
  transition: all .2s;

  &:hover {
    color: $gray-lightest;
    font-weight: 400;
  }
}

/* ---- SECTION: FOOTER ---- */
.story-foot {
  height: 40px;

  a {
    float: right;
    text-align: right;
    color: $gray-light;
    font-size: 14px;
  }
}

@import "media_queries";
