html(lang="en")
  include ./head.jade
  body
    div.header.header-large(data-animate-up="header-large" data-animate-down="header-small")
      div.header-content
        div#hello: h1 Hello!
        div#gravatar
          img.gravatar(alt="Photo of me" src="https://www.gravatar.com/avatar/3e4b36dbab293b89d2a9d602791a7239?s=512")
        div#bioname
          p I'm a 21 year old student at the University of Colorado: Boulder. Computer Science major, photographer, rock climber &amp; alpinist. I make cool things for your browser!
          h2 Stephen Thoma
        div.header-nav.cl-effect-1
          ul
            li: a(href="https://www.instagram.com/stephenthoma") Photo
            li: a(href="https://www.github.com/sthoma") Github
            li: a(href="https://www.stephenthoma.com/resume") Resume
            li: a(href="mailto:stephen@stephenthoma.com") Contact
    div.story
      ul.flex-card-list
        | {% for project in projects %}
        li
          div.flex-card
            div.flex-card-image
              a(id="link-{{project.id}}" style="background-image:url({{project.image_url}});")
                span.overlay(id="ov-{{project.id}}") {{project.name}}
        | {% endfor %}
    div.story-foot
       a(href="https://github.com/sthoma/stephenthoma.com") Check out this site's source on my Github!

    | {% for project in projects %}
    div.muddle-modal.md-anim(id="modal-{{project.id}}")
      div.md-content
        div.md-header(style="background-image:url({{project.image_url}}")
          span.overlay(id="md-ov-{{project.id}}") {{project.name}}
          i.md-close x
        div.md-body
          div.md-tags
            ul
              | {% for tag in project.tags %}
              li {{tag}}
              | {% endfor %}
          div.md-desc
            p {{project.description}}
            | {% if project.url|length != 0 %}
            a.md-link(href="{{project.url}}" target="_blank")
              button.button.blue More
            | {% else %}
            | {% endif %}
    | {% endfor %}
    div.muddle-overlay
    include ./scripts.jade
