<html lang="en">
<head>
  <title>Stephen Thoma</title>
  <meta charset="utf-8" />
  <meta name="description" content="A catalogue of my recent and noteworthy projects" />
  <meta property="og:title" content="Stephen Thoma" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.stephenthoma.com/" />
  <meta property="og:image" content="http://www.stephenthoma.com/static/img/favicon.ico" />

  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="static/css/header_links.min.css" />
  <link rel="stylesheet" type="text/css" href="static/css/simplegrid.min.css" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <!--[if gte IE 9]>
    <style type="text/css">
      .gradient {
        filter: none;
      }
    </style>
  <![endif]-->

</head>

<body>
  <div class="header header-large" data-animate-up="header-large" data-animate-down="header-small">
    <div class="grid grid-pad">
      <div class="header-content">
        <div class="col-1-1 hide-on-mobile">
          <div>
            <h1>Hello!</h1>
          </div>
        </div>

        <div class="col-1-12 hide-on-mobile">
          <div><img class="gravatar" alt="Photo of me" src="http://www.gravatar.com/avatar/3e4b36dbab293b89d2a9d602791a7239?s=512"/></div>
        </div>

        <div class="col-5-12 mobile-col-1-1">
          <div class="header-blob hide-on-mobile">
            <p>I'm Stephen, a 21 year old student at the University of Colorado: Boulder. Computer Science major, photographer, and outdoors enthusiast. I make cool things for your browser!</p>
          </div>

          <div>
            <h2>STEPHEN THOMA</h2>
          </div>
        </div>

        <div class="col-4-12 push-2-12 mobile-col-1-1 header-nav cl-effect-1">
          <a href="http://www.instagram.com/stephenthoma">Photo</a>
          <a href="http://www.github.com/sthoma">Github</a>
          <a href="mailto:stephen@airworxcinema.com">Contact</a>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-pad">
    <div class="grid grid-pad">
      <div class="col-1-1">
        <div class="story">
          <div class="flexbox">
            <ul class="flex-card-list">
              {% for project in projects %}
                <li class="flex-card-listitem">
                  <div class="flex-card">
                    <div class="flex-card-image">
                      <img alt="A snapshot of the project" src="{{ project.image_url }}" />
                    </div>
                    <div class="flex-card-content">
                      <p>
                        <span class="flex-card-heading">{{ project.name }}</span>
                        {{ project.description }}
                        {% if project.url|length != 0 %}
                          <a href="{{ project.url }}" class="flex-card-button">VIEW</a>
                        {% else %}
                          <!-- No link -->
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-1-1">
        <div class="story-foot">
          <div class="foot-content">
            <p>Made with <a href="https://github.com/ThisIsDallas/Simple-Grid" title="Simple Grid">tender</a> <a href="http://flask.pocoo.org" title="Flask">loving</a> care.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="static/js/lib/waypoints.min.js" type="text/javascript"></script>
  <script src="static/js/animate_header.js" type="text/javascript"></script>
  <script type="text/javascript">
    //<![CDATA[
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-50781774-1', 'stephenthoma.com');
    ga('send', 'pageview');
    //]]>
  </script>
</body>
</html>
